.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  background: transparent;
}
ul {
  margin-left: auto;
  padding: 25px;
  list-style: none;
  display: flex;
  li {
    width: 100px;
  }
}
