$primary-font: "Crimson+Text", Helvetica, sans-serif;
$secondary-font: "Cinzel", Helvetica, sans-serif;
$tretiary-font: "Quicksand", Helvetica, sans-serif;

$light-gray: #eff4e3;
$dark-gray: #3c3c3b;
$light-pink: #fff7fd;
